.conteudo{
    background-color: #219EBC;
}

.Intercambios{
    background-color: #219EBC;
    font-family: Nunito, sans-serif;
}

.Brighton{
    margin-top: 4%;
}

.Madrid{
    margin-top: 4%;
}

.Malta{
    margin-top: 4%;
}

.NovaYork{
    margin-top: 4%;
}

.Paris{
    margin-top: 4%;
}

.Vancouver{
    margin-top: 4%;
    margin-bottom: 4%;
}

.titulo{
    background-color: #FFB703;
    width: 435px;
    height: 87px;
    border-radius: 0px 24px 24px 0px;
    margin-top: 4%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.titulo h2{
    color: black;
    display: inline-block;
    line-height: 2.7;
    margin-left: 25%;
    margin-right: 0;
    font-weight: bold;
    
}

.caixab {
    position: relative;
    width: 80%;
    height: auto;
    left: 20%;
    background: #023047;
    border-radius: 58px 0px 0px 58px;
    display: table;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.caixab p{
    color: #FFB703;
    text-align: justify;
    vertical-align:middle;
    display: table-cell;
    padding-left: 10%;
    padding-right: 10%;
}

.caixab img{
    width: 350px;
    height: 280px;
    margin-left: 18%;
}

.caixama {
    position: relative;
    width: 80%;
    height: auto;
    background: #FFB703;
    border-radius: 0px 58px 58px 0px;
    display: table;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.caixama p{
    color: #023047;
    text-align: justify;
    vertical-align:middle;
    display: table-cell;
    padding-left: 10%;
    padding-right: 5%;

}

.caixama img{
    width: 350px;
    height: 280px;
    margin-right: 59px;
}

.caixamt {
    position: relative;
    width: 80%;
    height: auto;
    left: 20%;
    background: #023047;
    border-radius: 58px 0px 0px 58px;
    display: table;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.caixamt p{
    color: #FFB703;
    text-align: justify;
    vertical-align:middle;
    display: table-cell;
    padding-left: 10%;
    padding-right: 10%;
}

.caixamt img{
    width: 350px;
    height: 280px;
    margin-left: 18%;
}

.caixany {
    position: relative;
    width: 80%;
    height: auto;
    background: #FFB703;
    border-radius: 0px 58px 58px 0px;
    display: table;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.caixany p{
    color: #023047;
    text-align: justify;
    vertical-align:middle;
    display: table-cell;
    padding-left: 10%;
    padding-right: 5%;
}

.caixany img{
    width: 350px;
    height: 280px;
    margin-right: 59px;
}

.caixapa {
    position: relative;
    width: 80%;
    height: auto;
    left: 20%;
    background: #023047;
    border-radius: 58px 0px 0px 58px;
    display: table;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.caixapa p{
    color: #FFB703;
    text-align: justify;
    vertical-align:middle;
    display: table-cell;
    padding-left: 10%;
    padding-right: 10%;
}

.caixapa img{
    width: 350px;
    height: 280px;
    margin-left: 18%;
}

.caixavanc {
    position: relative;
    width: 80%;
    height: auto;
    background: #FFB703;
    border-radius: 0px 58px 58px 0px;
    display: table;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.caixavanc p{
    color: #023047;
    text-align: justify;
    vertical-align:middle;
    display: table-cell;
    padding-left: 10%;
    padding-right: 5%;
}

.caixavanc img{
    width: 350px;
    height: 280px;
    margin-right: 59px;
}

@media (max-width: 1224px){

   .caixab img, .caixamt img, .caixapa img{
        height: 200px;
        width: 250px;
        margin-left: 21%;
    }

    .caixama img, .caixany img, .caixavanc img {
        height: 200px;
        width: 250px;
    }

}

@media (max-width: 1038px){

    .titulo{
        width: 400px;
        height: 80px;
    }

    .titulo h2{
        font-size: 26px;
        line-height: 3.1;
    }

    .caixab, .caixamt, .caixapa{
        left: 10%;
        width: 90%;
    }

    .caixama, .caixany, .caixavanc{
        width: 90%;
    }

    .caixab p h1, .caixamt p h1, .caixapa p h1, .caixama p h1, .caixany p h1, .caixavanc p h1{
        font-size: 30px;
     }

     .caixab p a, .caixamt p a, .caixapa p a, .caixany p a, .caixavanc p a, .caixama p a{
        font-size: 14px;
     }
 
 }


@media (max-width: 819px){

    .titulo{
        width: 350px;
        height: 70px;
    }

    .titulo h2{
        font-size: 24px;
        line-height: 3;
    }

    .caixab, .caixamt, .caixapa{
        left: 5%;
        width: 95%;
    }

    .caixama, .caixany, .caixavanc{
        width: 95%;
    }
 
 }

 
@media (max-width: 737px){

    .titulo{
        width: 290px;
        height: 58px;
    }

    .titulo h2{
        font-size: 20px;
        line-height: 3;
    }

    .caixab p h1, .caixamt p h1, .caixapa p h1, .caixama p h1, .caixany p h1, .caixavanc p h1{
        text-align: center;
        font-size: 25px;
        font-weight: bold;
    }

    .caixab p h1, .caixamt p h1, .caixapa p h1{
        padding-left: 10%;
    }


    .caixab p a, .caixamt p a, .caixapa p a, .caixany p a, .caixavanc p a, .caixama p a{
        display: none;
     }
 
     .caixab img, .caixamt img, .caixapa img{
        height: 180px;
        width: 210px;
        margin-left: 25%;
     }

     .caixama img, .caixany img, .caixavanc img{
        height: 180px;
        width: 210px;
    }

    }

@media (max-width: 475px){

    .titulo{
        width: 250px;
        height: 50px;
        margin-bottom: 2%;
    }

    .titulo h2{
        font-size: 16.9px;
        line-height: 3;
    }

    .caixab, .caixamt, .caixapa{
        border-radius: 45px 0px 0px 45px;
    }

    .caixama, .caixany, .caixavanc{
        border-radius: 0px 45px 45px 0px;
    }

    .caixab p h1, .caixamt p h1, .caixapa p h1{
        text-align: center;
        font-size: 20px;
        padding-left: 20%;
        font-weight: bold;
    }

    .caixama p h1, .caixany p h1, .caixavanc p h1{
        text-align: center;
        font-size: 20px;
        font-weight: bold;
    }
    
    .caixab p a, .caixamt p a, .caixapa p a, .caixany p a, .caixavanc p a, .caixama p a{
        display: none;
    }
     
    .caixab img, .caixamt img, .caixapa img{
        height: 144px;
        width: 168px;
        margin-left: 27%;
    }

    .caixama img, .caixany img, .caixavanc img{
        height: 144px;
        width: 168px;
        margin-right: 42px;
    }
}

@media (max-width: 375px){

    .caixab, .caixamt, .caixapa{
        border-radius: 36px 0px 0px 36px;
    }

    .caixama, .caixany, .caixavanc{
        border-radius: 0px 36px 36px 0px;
    }

    .caixab p h1, .caixamt p h1, .caixapa p h1{
        text-align: center;
        font-size: 16px;
        padding-left: 20%;
        font-weight: bold;
    }

    .caixama p h1, .caixany p h1, .caixavanc p h1{
        text-align: center;
        font-size: 16px;
        font-weight: bold;
    }
    
    .caixab p a, .caixamt p a, .caixapa p a, .caixany p a, .caixavanc p a, .caixama p a{
        display: none;
    }

     
    .caixab img, .caixamt img, .caixapa img{
        height: 116px;
        width: 152px;
        margin-left: 27%;    
    }

    .caixama img, .caixany img, .caixavanc img{
        height: 116px;
        width: 152px;
    }
}

@media (max-width: 331px){

    .titulo{
        width: 180px;
        height: 36px;
        margin-bottom: 2%;
    }

    .titulo h2{
        font-size: 13px;
        line-height: 3;
    }

    .caixab, .caixamt, .caixapa{
        border-radius: 32px 0px 0px 32px;
    }

    .caixama, .caixany, .caixavanc{
        border-radius: 0px 32px 32px 0px;
    }

    .caixab p h1, .caixamt p h1, .caixapa p h1{
        text-align: center;
        font-size: 12px;
        padding-left: 20%;
        font-weight: bold;
    }

    .caixama p h1, .caixany p h1, .caixavanc p h1{
        text-align: center;
        font-size: 12px;
        font-weight: bold;
    }
    
    .caixab p a, .caixamt p a, .caixapa p a, .caixany p a, .caixavanc p a, .caixama p a{
        display: none;
    }

     
    .caixab img, .caixamt img, .caixapa img{
        height: 100px;
        width: 130px;
        margin-left: 27%;    
    }

    .caixama img, .caixany img, .caixavanc img{
        height: 100px;
        width: 130px;
    }
}