*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


.baseFooter {
    position: relative;
    width: 100%;
    height: auto;
    padding: 10px 50px;
    background-color:#FFBC08;
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    color: #219EBC;   
    font-family: Nunito, sans-serif; 
}

.Footer{
    display: flex;
    width: 100%;
    align-items: stretch;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row ;
}

.RedesSociais{
    list-style: none;  
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.Contatos{
    list-style: none;  
}

.LinksUteis{
    list-style: none;   
}


.copyright{
    width: 100%;
    display: flex;
    justify-content: center;
}
        
@media(max-width:700px) {
    .Footer{
        display: flex;
        width: 100%;
        align-items: stretch;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: column ;
        font-size: medium;
    }
    .ContatosH{
        font-size: 1.8em;
    }
    .copyright{
        display: flex;
        flex-wrap: wrap;
        font-size: small;
    }
}

@media(max-width:370px) {
    .Footer{
        display: flex;
        width: 100%;
        align-items: stretch;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: column ;
        font-size: 1em;
    }
    
 
}