*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


.baseFooter {
    position: relative;
    width: 100%;
    height: auto;
    padding: 10px 50px;
    background-color:#FFBC08;
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    color: #219EBC;    
}

.Footer{
    display: flex;
    width: 100%;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row ;
}

.RedesSociais{
    list-style: none;  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Contatos{
    list-style: none;  
}

.LinksUteis{
    list-style: none;   
}


.copyright{
    width: 100%;
    display: flex;
    justify-content: center;
}
        
@media(max-width:700px) {
    .Footer{
        display: flex;
        width: 100%;
        align-items: stretch;
        justify-content: space-around;
        flex-wrap: wrap;
        flex-direction: column ;
    }
 
}