.baseFooter {
    color: black;
    background-color:#FFBC08;
    align-content: space-around;
    justify-content: center;
    
    display: flex;
    
    
}

.redessociais{
    display: flex;
    
    justify-content: flex-end;
    justify-content: space-between;

}

