
.a1{
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #219EBC;
    font-family: Nunito, sans-serif;
}

.a2{ 
    width: 100%;
    display: flex;
    background-color: #FEFEFE;
    margin-bottom: 1em;
    margin-top: 1em;
    justify-content: center;
    align-items: center;    
}

.a3{
    display: flex;
    flex-direction: column;
    margin-top: 4%;
    margin-bottom: 4%;
}

.a4{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin-left: 0.3rem ;
    margin-right: 0.3rem ;
}

.changePassword{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.editar{
    display: flex;
    flex-direction: column;
}

@media(max-width:700px) {
    .t1{
        font-size: 1.6em ;
    }
}