
.a1{
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #219EBC;
    font-family: Nunito, sans-serif;
}

.a2{ 
    width: 100%;
    display: flex;
    background-color: #FEFEFE;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
    
}

.a3{
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.a4{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.a5{
    display: flex;
    flex-direction: row;
}
