*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.baseHeader{
    position: relative;
    width: 100%;
    height: 100px;
    background-color:#219EBC;
    display: flex;
    flex-wrap:wrap;
}

.Header-botoes{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.HeaderLogo{
    display: flex;
    align-items: center;
}