.total{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffb703;
    padding: 16px;
    box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.1);
    -webkit-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.1);
    height: 490px;
    width: 300px;
}

.nome{
    margin-top: 25px;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.fala{
    margin-top: 20px;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    overflow: hidden;
    font-size: 1rem;
}

@media (max-width: 1375px){
    .total{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffb703;
    height: 790px;
    width: 600px;
}

.nome{
    margin-top: 25px;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 3rem;
}

.fala{
    margin-top: 20px;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    overflow: hidden;
    font-size: 2rem;
}
}

@media (max-width: 1180px){
    .total{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffb703;
    height: 790px;
    width: 600px;
}

.nome{
    margin-top: 25px;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 3rem;
}

.fala{
    margin-top: 20px;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    overflow: hidden;
    font-size: 2rem;
}
}

@media (max-width: 885px){
    .total{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffb703;
    height: 600px;
    width: 80%;
    margin-right: 160px;
}

.nome{
    margin-top: 25px;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 3rem;
}

.fala{
    margin-top: 20px;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    overflow: hidden;
    font-size: 2rem;
}
}

@media (max-width: 767px){
    .total{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffb703;
    height: 700px;
    width: 80%;
    margin-right: 160px;
}

.nome{
    margin-top: 25px;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 3rem;
}

.fala{
    margin-top: 20px;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    overflow: hidden;
    font-size: 2rem;
}
}

@media (max-width: 594px){
    .total{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffb703;
    height: 900px;
    width: 80%;
    margin-right: 160px;
}

.nome{
    margin-top: 25px;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 3rem;
}

.fala{
    margin-top: 20px;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    overflow: hidden;
    font-size: 2rem;
}
}

@media (max-width: 448px){
    .total{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffb703;
    height: 800px;
    width: 150%;
    margin-right: 160px;
}

.nome{
    margin-top: 25px;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 3rem;
}

.fala{
    margin-top: 20px;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    overflow: hidden;
    font-size: 2rem;
}
}

@media (max-width: 290px){
    .total{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffb703;
    height: 900px;
    width: 150%;
    margin-right: 160px;
}

.nome{
    margin-top: 25px;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 3rem;
}

.fala{
    margin-top: 20px;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    overflow: hidden;
    font-size: 2rem;
}
}


