.Container{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 20px;
    size: 10em;
    
}

.base{
    width: 100%;
    height: 100%;
    display: flex;
    background-color:#219EBC ;
}

.centro{
    height: 92%;
    width: 1440px;
    display: flex;
    background-color: #FEFEFE;

}
.inputs{
    display: flex;
    flex-flow: column ;
    width: 400px;
    box-sizing: 1em;
    align-items: center;
    justify-content: center;
    
    
}

.cadastrar{
    display: flex;
    flex-direction: column;
}
