.Container{
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;  
}

.base{
    width: 100%;
    height: 100%;
    display: flex;
    background-color:#219EBC ;
}

.centro{ 
    height: 38rem;
    width: 100%;
    display: flex;
    background-color: #FEFEFE;
    margin-bottom: 1.5em;
    justify-content: center;
}

.inputs{
    display: flex;
    flex-flow: column ;
    align-items: center;
    justify-content: center;
    margin-left: 0.3rem;
    margin-right: 0.3rem; 
}

.cadastrar{
    display: flex;
    flex-direction: column;
}
