.containerHome
{
    background-color:rgb(33, 158, 188) ;
    height: 100%;
    margin: 0px;
}
.header
{
    display: flex;
    max-height: 25%;
    align-items: center;
    margin-left: 0%;
    position: relative;
    width: 90%;
}
.foto
{
    margin-left: 10%;
    margin-right: 20%;
    margin-top: 2%;
    margin-bottom: 2%;
    width:300px;
    height: 100px;
}
.cadastro
{
    display: flex;
    margin-left: 30%;
    margin-right: 50%;
    margin-top: 2%;
    margin-bottom: 2%;
    height:max-content;
    width: max-content;
}
.botoes
{
    margin-top: 35%;
    align-items: center;
}