.container
{
    background-color: rgb(33, 158, 188);
    width: 100%;
}
.header
{
    display: flex;
    margin-top: 15px;
}
.foto
{
    margin-left: 200px;
    margin-right: 600px;
}
.botoes
{
    display: flex;
    align-items: center;
}
